#clock {
  font-size: var(--font-size-clock);
  letter-spacing: var(--letter-spacing-clock);
  transition: var(--transition-font-size-ease);
}

@media screen and (max-height: 700px) {
  #clock {
    font-size: var(--font-size-clock-small);
  }
}

@media screen and (max-height: 500px), screen and (max-width: 600px) {
  #clock {
    font-size: var(--font-size-clock-xSmall);
  }
}

@media screen and (max-height: 400px) {
  #clock {
    display: none;
  }
}
