#greeting {
  font-size: var(--font-size-greeting);
  transition: var(--transition-font-size-ease);
}

@media screen and (max-height: 700px) {
  #greeting {
    font-size: var(--font-size-greeting-small);
  }
}

@media screen and (max-height: 500px), screen and (max-width: 800px) {
  #greeting {
    font-size: var(--font-size-greeting-xSmall);
  }
}

@media screen and (max-width: 600px) {
  #greeting {
    font-size: var(--font-size-greeting-xxSmall);
  }
}
