.login {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  position: relative;
  top: -8px;
  width: var(--width-login);
}

.login > span {
  padding-bottom: var(--padding-xLarge);
  font-size: var(--font-size-greeting);
  line-height: var(--line-height);
  transition: var(--transition-font-size-ease);
}

.login #login-form {
  width: 100%;
  border-bottom: var(--border-3px-solid-white);
  box-sizing: border-box;
}

.login #login-form input {
  width: 100%;
  padding: 0;
  border: none;
  color: var(--color-white);
  background-color: transparent;
  font-size: var(--font-size-greeting);
  text-align: center;
  box-sizing: border-box;
  transition: var(--transition-font-size-ease);
}

@media screen and (max-height: 700px) {
  .login > span {
    font-size: var(--font-size-greeting-small);
  }
  .login #login-form input {
    font-size: var(--font-size-greeting-small);
  }
}

@media screen and (max-height: 500px) {
  .login > span {
    font-size: var(--font-size-greeting-xSmall);
  }
  .login #login-form input {
    font-size: var(--font-size-greeting-xSmall);
  }
}
