#quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: auto;
  height: 60px;
  padding: 0 var(--padding-large) var(--padding-normal);
}

#quote span:first-child {
  position: relative;
  margin-bottom: var(--margin-normal);
  font-size: var(--font-size-large);
  text-align: center;
  word-wrap: break-word;
  transform: var(--transform-quote-translateY);
  transition: var(--transition-all-ease);
}

#quote span:last-child {
  position: relative;
  font-size: var(--font-size-small);
  opacity: var(--opacity-none);
  transform: var(--transform-author-translateY);
  transition: var(--transition-all-ease);
}

#quote:hover span:first-child {
  transform: none;
}

#quote:hover span:last-child {
  transform: none;
  opacity: var(--opacity-dark);
}
