@import url(variables.css);
@import url(login.css);
@import url(greeting.css);
@import url(clock.css);
@import url(todo.css);
@import url(quote.css);
@import url(focus.css);
@import url(weather.css);

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro",
    "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  overflow: hidden;
}

.top {
  position: relative;
  flex: 0 0 auto;
  height: 60px;
}

.center {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-above {
  flex: 1 1 50%;
}

.center-below {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  flex: 0 0 auto;
  height: 60px;
  box-sizing: border-box;
}

@media screen and (max-height: 500px) {
  .top,
  .bottom {
    height: 50px;
  }
}
