@import url(variables.css);
@import url(login.css);
@import url(greeting.css);
@import url(clock.css);
@import url(todo.css);
@import url(quote.css);

.hidden {
  display: none;
}

body {
  height: 100vh;
  min-height: 600px;
  min-width: 800px;
  background-size: cover;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro",
    "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.top {
  position: relative;
  height: 20%;
  min-height: 100px;
}

.mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  min-height: 300px;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  height: 20%;
  min-height: 100px;
  box-sizing: border-box;
}
