@import url(variables.css);
@import url(login.css);
@import url(greeting.css);
@import url(clock.css);
@import url(todo.css);
@import url(quote.css);
@import url(focus.css);

.hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 500px;
  min-width: 800px;
  background-size: cover;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro",
    "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.top {
  position: relative;
  flex: 0 0 auto;
  height: 60px;
}

.center {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-above,
.center-below {
  flex: 1 1 50%;
}

.center-below {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  flex: 0 0 auto;
  height: 60px;
  box-sizing: border-box;
}
