#todo-open {
  position: absolute;
  top: 15px;
  left: 10px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  opacity: 0.6;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

#todo-open:hover {
  opacity: 0.9;
}

#todo-open.active {
  opacity: 0.9;
}

#todo i {
  position: absolute;
  top: -15px;
  left: 15px;
  font-size: 30px;
}

#todo {
  position: absolute;
  top: 50px;
  left: 10px;
  padding: 10px 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  transform: translateY(-30px);
  opacity: 0;
  z-index: -1;
  animation: todoOpenAnimation 0.5s ease-in-out forwards;
}

#todo.animate-reverse {
  animation: todoCloseAnimation 0.5s ease-in-out forwards;
}

@keyframes todoOpenAnimation {
  from {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
    z-index: 1;
  }
}

@keyframes todoCloseAnimation {
  from {
    transform: none;
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  to {
    transform: translateY(-30px);
    opacity: 0;
    z-index: -1;
  }
}

#todo #todo-form {
  padding: 0 5px;
}

#todo #todo-form input {
  width: 300px;
  padding: 0 5px;
  border: none;
  font-size: 1rem;
  line-height: 2rem;
  transition: border-color 0.3s ease-in-out;
}

#todo #todo-form input::placeholder {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

#todo #todo-form input:hover::placeholder,
#todo #todo-form input:focus::placeholder {
  opacity: 0.9;
}

#todo-list {
  max-height: 500px;
  overflow-y: scroll;
}

#todo-list::-webkit-scrollbar {
  width: 5px;
  margin: 5px 0;
}

#todo-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0;
  color: #000000;
}

#todo-list li:last-child {
  padding-bottom: 10px;
}

#todo-list li span {
  padding-left: 5px;
}

#todo-list li span.done {
  opacity: 0.3;
  text-decoration: line-through;
}

#todo-list li button {
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

#todo-list li button:hover {
  opacity: 0.8;
}
