#todo-open {
  position: absolute;
  top: 15px;
  left: 10px;
  border: none;
  background-color: transparent;
  color: var(--color-white);
  opacity: var(--opacity-normal);
  font-size: var(--font-size-large);
  cursor: pointer;
  transition: var(--transition-all-ease);
}

#todo-open:hover,
#todo-open.active {
  opacity: var(--opacity-dark);
}

#todo i {
  position: absolute;
  top: -15px;
  left: 15px;
  color: var(--color-white);
  font-size: var(--font-size-xxLarge);
}

#todo {
  position: absolute;
  top: 50px;
  left: 10px;
  padding: var(--padding-large) var(--padding-large);
  background-color: var(--color-white);
  border-radius: var(--border-radius-normal);
  box-sizing: border-box;
  transform: var(--transform-todo-translateY);
  opacity: var(--opacity-none);
  z-index: var(--z-index-minus);
  animation: var(--animation-todo);
}

#todo.animate-reverse {
  animation: var(--animation-todo-reverse);
}

#todo #todo-form {
  padding: 0 var(--padding-normal);
}

#todo #todo-form input {
  width: 300px;
  padding: 0 var(--padding-normal);
  border: none;
  font-size: var(--font-size-normal);
  line-height: var(--font-size-xxLarge);
  transition: var(--transition-all-ease);
}

#todo #todo-form input::placeholder {
  opacity: var(--opacity-light);
  transition: var(--transition-all-ease);
}

#todo #todo-form input:hover::placeholder,
#todo #todo-form input:focus::placeholder {
  opacity: var(--opacity-dark);
}

#todo-list-wrapper {
  max-height: 380px;
  overflow-y: auto;
}

#todo-list-wrapper::-webkit-scrollbar {
  width: 5px;
  margin: var(--margin-normal) 0;
}

#todo-list-wrapper::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius-large);
  background-color: var(--bgColor-todo-list-scrollbar-thumb);
}

#todo-list {
  min-height: 0px;
  max-height: 0px;
  overflow-y: hidden;
  transition: var(--animation-todo-list);
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-normal) var(--padding-large);
  color: var(--color-black);
}

#todo-list li input[type="checkbox"] {
  cursor: pointer;
}

#todo-list li span {
  padding-left: var(--padding-normal);
}

#todo-list li span.done {
  opacity: var(--opacity-light);
  text-decoration: line-through;
}

#todo-list li button {
  visibility: hidden;
  border: none;
  background-color: transparent;
  opacity: var(--opacity-light);
  cursor: pointer;
  transition: var(--transition-opacity-ease);
}

#todo-list li button:hover {
  opacity: var(--opacity-dark);
}

#todo-list li:hover button {
  visibility: visible;
}
