:root {
  --width-login: 605px;
  --min-height-focus: 130px;
  --weather-icon-size: 35px;

  --font-size-xxSmall: 0.5rem;
  --font-size-xSmall: 0.8rem;
  --font-size-small: 0.925rem;
  --font-size-normal: 1rem;
  --font-size-large: 1.125rem;
  --font-size-xLarge: 1.3rem;
  --font-size-xxLarge: 2rem;
  --font-size-focus: 2.1875rem;
  --font-size-focus-small: 1.6rem;
  --font-size-focus-input: 2.25rem;
  --font-size-focus-input-small: 1.8rem;
  --font-size-greeting: 3.375rem;
  --font-size-greeting-small: 3rem;
  --font-size-greeting-xSmall: 2.7rem;
  --font-size-clock: 1050%;
  --font-size-clock-small: 900%;
  --font-size-clock-xSmall: 750%;
  --font-size-weather-temp: 1.3rem;
  --font-size-weather-city: 0.8rem;

  --letter-spacing-clock: -0.3rem;

  --color-white: #ffffff;
  --color-black: #000000;

  --bgColor-todo-list-scrollbar-thumb: rgba(0, 0, 0, 0.3);

  --padding-small: 3px;
  --padding-normal: 5px;
  --padding-large: 10px;
  --padding-xLarge: 15px;
  --padding-focus-input: 4px 2px 1px;

  --margin-normal: 5px;
  --margin-large: 10px;

  --border-3px-solid-white: 3px solid #ffffff;
  --border-2px-solid-white: 2px solid #ffffff;

  --border-radius-normal: 5px;
  --border-radius-large: 10px;

  --line-height: 1.2;

  --opacity-none: 0;
  --opacity-light: 0.3;
  --opacity-normal: 0.5;
  --opacity-dark: 0.8;
  --opacity-default: 1;

  --z-index-minus: -1;
  --z-index-plus: 1;

  --zoom-focus-checkbox: 1.7;
  --zoom-focus-checkbox-small: 1.5;

  --transform-todo-translateY: translateY(-30px);
  --transform-quote-translateY: translateY(10px);
  --transform-author-translateY: translateY(-10px);

  --transition-all-ease: all 0.3s ease;
  --transition-opacity-ease: opacity 0.3s ease;
  --transition-todo-list-wrapper: max-height 0.3s ease-in-out;
  --transition-todo-list: max-height 0.2s ease-in-out,
    min-height 0.2s ease-in-out;
  --transition-font-size-ease: font-size 0.3s ease;

  --animation-todo: todoOpenAnimation 0.5s ease-in-out forwards;
  --animation-todo-reverse: todoCloseAnimation 0.5s ease-in-out forwards;
  --animation-focus-list-span: focusListSpanAnimation 2s ease-in-out;
}

@keyframes todoOpenAnimation {
  from {
    opacity: var(--opacity-none);
  }
  70% {
    opacity: var(--opacity-none);
  }
  to {
    transform: none;
    opacity: var(--opacity-default);
    z-index: var(--z-index-plus);
  }
}

@keyframes todoCloseAnimation {
  from {
    transform: none;
    opacity: var(--opacity-default);
  }
  30% {
    opacity: var(--opacity-none);
  }
  to {
    transform: var(--transform-todo-translateY);
    opacity: var(--opacity-none);
    z-index: var(--z-index-minus);
  }
}
