#weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: var(--padding-normal);
}

#weather div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#weather div .icon img {
  width: var(--weather-icon-size);
  height: var(--weather-icon-size);
}

#weather div .temp {
  font-size: var(--font-size-weather-temp);
  font-weight: 600;
}

#weather .status {
  font-size: var(--font-size-small);
  font-weight: 600;
}

#weather .city {
  font-size: var(--font-size-xSmall);
}
