.hidden {
  display: none;
}

body {
  height: 100vh;
  min-height: 500px;
  min-width: 800px;
  background-size: cover;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro",
    "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.top {
  height: 20%;
  min-height: 50px;
}

.mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  min-height: 200px;
}

.bottom {
  position: relative;
  height: 20%;
  min-height: 50px;
}

/* Clock */

#clock {
  font-size: 1050%;
  margin-bottom: 10px;
}

/* Login */

div.login {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  font-size: 3.375rem;
}

.login span {
  padding-bottom: 15px;
}

.login #login-form input {
  width: 550px;
  border: none;
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  font-size: 100%;
  text-align: center;
}

/* Greeting */

#greeting {
  font-size: 3.375rem;
}

/* Quote */

#quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 50%;
  padding: 5px 10px;
  border-radius: 5px;
  transform: translateX(50%);
  transition: all 0.3s ease-in-out;
}

#quote:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

#quote span:first-child {
  margin-bottom: 5px;
  font-size: 1.125rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

#quote span:last-child {
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;
}

#quote:hover span:first-child {
  font-size: 1.2rem;
}

#quote:hover span:last-child {
  font-size: 0.9rem;
}

/* Todo */

#todo-open {
  position: absolute;
  top: 15px;
  left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  opacity: 0.6;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

#todo-open:hover {
  opacity: 0.9;
}

#todo {
  position: absolute;
  top: 15px;
  left: 10px;
  padding: 30px 10px 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  transform: translateX(-400px);
}

#todo.animate {
  animation: todoOpenAnimation 0.3s ease-in-out forwards;
}

#todo.animate-reverse {
  animation: todoCloseAnimation 0.3s ease-in-out forwards;
}

@keyframes todoOpenAnimation {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes todoCloseAnimation {
  from {
    transform: none;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    transform: translateX(-400px);
    opacity: 0;
  }
}

#todo button {
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
}

#todo button:hover {
  opacity: 0.8;
}

#todo #todo-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}

#todo #todo-form {
  padding: 0 5px;
}

#todo #todo-form input {
  width: 300px;
  border: none;
  font-size: 1rem;
  line-height: 1.5rem;
}

#todo #todo-form input::placeholder {
  opacity: 0.3;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0;
  color: #000000;
}

#todo-list li:first-child {
  padding-top: 20px;
}

#todo-list li:last-child {
  padding-bottom: 10px;
}

#todo-list li span {
  padding-left: 5px;
}

#todo-list li span.done {
  opacity: 0.3;
  text-decoration: line-through;
}

#todo-list li button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
